form(action="/admin/#{model._name}/#{instance.id || ''}", method="#{method}")
    fieldset
        legend= model._name
        each field, name in model._fields
            label= name
            case field.name
                when 'text'
                    input(type="text", name="#{name}", value="#{instance[name]}")
                when 'number'
                    input(type="text", name="#{name}", size="6", value="#{instance[name]}")
                when 'date'
                    input(type="hidden", name="#{name}", value="#{instance[name]}")
                    p TODO - Date selector GUI
                when 'html'
                    textarea(name="#{name}")= instance[name]
        input(type="submit", value="Save")
