form(action="/admin/#{model._name}/#{model.id || ''}", method="#{method}")
    fieldset
        legend= model._name
        each field in model._fields
            label= field.name
            case field.type.name
                when 'text'
                    input(type="text", name="#{field.name}", value="#{model[field.name] || field.default}")
                when 'number'
                    input(type="text", name="#{field.name}", size="6", value="#{model[field.name] || field.default}")
                when 'html'
                    textarea(name="#{field.name}", value="#{model[field.name] || field.default}")
                when 'date'
                    input(type="hidden", name="#{field.name}", value="#{model[field.name] || field.default}")
                    p TODO - Date selector GUI
        input(type="submit", value="Save")
