link(rel="stylesheet", type="text/css", href="/macondo.css")
link(rel="stylesheet", type="text/css", href="/datepickr/datepickr.css")

form(id="#{model._name}-edit-form", action="/admin/#{model._name}/#{instance._id || ''}", method="POST")
    fieldset
        legend= model._name
        each field, name in model._fields
            if ('menuParent' === name && 'text' === field.name)
                label Menu Parent
                    select(name="menuParent")
                        option(value="") [None]
                        each sibling in siblings
                            option(value="#{sibling._id}", selected=(instance.menuParent == sibling._id) ? "selected" : false)!= sibling.title
                
            else if (!field.private)
                label(class="macondo-type--#{field.name} macondo-property--#{name}")= name.replace(/([A-Z])/g, ' $1')
                    case field.name
                        when 'boolean'
                            input(type="checkbox", name="#{name}", value="true", checked=(instance[name] ? 'checked' : null))
                        when 'text'
                            input(type="text", name="#{name}", value="#{instance[name]}")
                        when 'number'
                            input(type="text", name="#{name}", size="6", value="#{instance[name]}")
                        when 'date'
                            //input(type="hidden", name="#{name}", value="#{instance[name]}")
                            input.datepickr(id="#{model._name}-edit-form--#{name}", name="#{name}", type="text", value="#{instance[name]}")
                        when 'html'
                            textarea.tinymce(name="#{name}")= instance[name]   

    input.save-button(type="submit", value="Save")
    input.cancel-button(type="button", value="Cancel")

script(type="text/javascript").
    tinymce.init({
        selector: ".tinymce",
     });
     
script(type="text/javascript", src="macondo/form-controller.js")
